environ==1.0
Django==3.2.12
django-environ==0.8.1
web3==5.28.0
pytest==7.0.1
pytest-django==4.5.2
pytest-cov==3.0.0
pytest-socket==0.5.1
psycopg2-binary==2.9.3
eth-tester==0.6.0b6
py-evm==0.5.0a3
gunicorn==20.1.0
isort==5.10.1
mypy==0.940
black==22.1.0
celery==5.2.3
django-celery-results==2.3.0
django-celery-beat==2.2.1
redis==4.1.4
django-redis==5.2.0
slack-sdk==3.15.2
tzdata==2022.5
