DATABASE_DEFAULT_URL=postgres://postgres:postgres@hyperback-postgres-container:5432/postgres?conn_max_age=0
POSTGRES_PASSWORD=postgres
SECRET_KEY=

TOKENS_URL=
TOKENS_TRANSFER_AMOUNT=
TOKENS_CONTRACT_ADDRESS=
TOKENS_ACCOUNT_PRIVATE_KEY=

NFTS_CONTRACT_ADDRESS=
NFTS_URL=
NFTS_MAX_AMOUNT=

CACHES_DEFAULT_URL=redis://redis:6379/0
CACHES_SESSIONS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/2
SLACK_BOT_TOKEN=
CSRF_TRUSTED_ORIGINS=
DEBUG=1
