DATABASE_DEFAULT_URL=postgres://postgres:postgres@hyperback-postgres-container:5432/postgres?conn_max_age=0
POSTGRES_PASSWORD=postgres
GET_BLOCK_URL=
GET_BLOCK_API_KEY=
CHAIN_ID=
CONTRACT_ADDRESS=
ABI_FILE_NAME=
ACCOUNT_PRIVATE_KEY=
