DATABASE_DEFAULT_URL=postgres://postgres:postgres@hyperback-postgres-container:5432/postgres?conn_max_age=0
POSTGRES_PASSWORD=postgres
SECRET_KEY=
TOKEN_URL=
TOKEN_CHAIN_ID=
TOKEN_CONTRACT_ADDRESS=
TOKEN_ACCOUNT_PRIVATE_KEY=
NFT_CONTRACT_ADDRESS=
NFT_URL=
NFT_CHAIN_ID=
NFT_MAX_AMOUNT=
NFT_ABI_FILE_NAME=api/nft_abi.json
ABI_FILE_NAME=api/abi.json
BYTECODE_FILE_NAME=api/bytecode.txt
TEST_ABI_FILE_NAME=api/tests/abi.json
TEST_BYTECODE_FILE_NAME=api/tests/bytecode.txt
CACHES_DEFAULT_URL=redis://redis:6379/0
CACHES_SESSIONS_URL=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/2
SLACK_BOT_TOKEN=
CSRF_TRUSTED_ORIGINS=
